body {
  background-image: url(http://res.cloudinary.com/tomogasawara/image/upload/v1487367395/World___Iceland_Harsh_landscape_in_Iceland_096012__dqjy6b.jpg)

}

.App {
  text-align: center;
  font-size: 30px;
  color: #fff;
  margin-top: 15%;
  text-shadow: 2px 2px 5px rgba(070, 070, 070, 0.3);
}

.App-title {
  font-size: 50px;
}

.clock-days, .clock-hours, .clock-minutes, .clock-seconds {
  display: inline;
  margin: 10px;
}

.deadline-input {
  font-size:  20px;
  margin: 5px;
}
