.App {
  text-align: center;
  font-size: 30px;
  margin-top: 25%;
}

.App-title {
  font-size: 50px;
}

.clock-days, .clock-hours, .clock-minutes, .clock-seconds {
  display: inline;
  margin: 10px;
}
